<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Articles{% endblock %} | Misaki's Website</title>
<style>body{background:#ffffff;}</style>
<body>
  <header>
    <h1 class="title"><a href="/">Misaki's Website</a></h1>
    <nav>
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['/', 'Articles'],
          ['/about/', 'About']
        ] %}
          {% set locale_path = '/{}'.format(this.alt) if this.alt != 'en' else '' %}
          <li{% if this.url_path == '{}{}'.format(locale_path, href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
        {# language #}
        {% for alt in get_alts(this) %}
          {% if this.alt != alt %}
          <li class="right"><a href="{{'./'|url(alt=alt) }}">{{ this.pad.config.get_alternative(alt).name['en']|title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2017 by Misaki Asaka.
  </footer>
</body>
