body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

header .title {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header .title a {
  text-decoration: none;
}

header nav ul {
    list-style: none;
    margin: 18px 0 0 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
}

header nav ul li.right {
    display: inline-block;
    float: right;
}

header nav ul li.active a {
  text-decoration: none;
  color: #898989;
}

div.page {
    background: #f1fbfe;
}
